.header {
  background: $main-gradient-wide;
  min-width: 320px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;

  @include vp-1023 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
