.skill-list {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none;

  &--modified {
    margin: 0;
    min-height: 145px;

    @include vp-767 {
      min-height: 0;
    }
  }
}

.skill-list__item {
  padding-left: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 40%;
    left: 13px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $color-torch-red;
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.skill-list--modified .skill-list__item {
  @include vp-1023 {
    font-size: 16px;
    line-height: 18px;
  }

  @include vp-767 {
    padding-left: 20px;
    font-size: 12px;
    line-height: 15px;
  }
}

//В карточках списком
.is-list .skill-list {
  min-height: 0;
  display: flex;
  flex-wrap: wrap;
}

.is-list .skill-list__item {
  margin: 0;
}
