.slider-control {
  display: flex;
  justify-content: space-between;
}

.slider-control__button {
  padding: 0;
  border: none;
  background-color: rgba($color: #ffffff, $alpha: 0.6);
  border-radius: 50%;
  width: 44px;


  @include hover {
    background-color: rgba($color: #ffffff, $alpha: 1);
  }

  @include focus {
    background-color: rgba($color: #ffffff, $alpha: 1);
    outline: 2px solid $color-torch-red;
  }
}

.slider-control__button:hover svg,
.slider-control__button:focus svg {
  fill: $color-torch-red;
}

.slider-control__button--next svg {
  transform: rotate(90deg);
}

.slider-control__button--prev svg {
  transform: rotate(270deg);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
