.sort-list {
  display: flex;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  justify-content: right;
  gap: 15px;

  @include vp-767 {
    display: none;
  }
}

.sort-list__button {
  border: none;
  width: 41px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light-gray;
  box-shadow: 0 2px 5px rgb(0 0 0 / 15%);

  @include hover-focus {
    opacity: 0.6;
  }

  @include focus {
    outline: 2px solid $color-torch-red;
    border-radius: 2px;
  }
}

.sort-list__button svg {
  fill: $color-purple;
  opacity: 0.6;
}

.sort-list__button.active svg {
  opacity: 1;
}
